@font-face {
    font-family: "bengtie";
    src: url(../zh-cn.ttf);
}


/* 全局样式重置和基础样式 */
* {
    margin: 0;
    padding: 0;
    font-family: "bengtie", Arial, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin-top: 5vh;
}

.qc {
    clear: both;
}

/* 顶部导航栏整体样式 */
.top {
    width: 100%;
    height: 5vh;
    border-bottom: 1px solid #999;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: #fff;
}

.top-left {
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.top-left img {
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
}

.top-left div {
    font-size: 2.5vh;
    margin-left: 5px;
}

.top-center {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
}

.top-center ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

.top-center ul li {
    flex: 1;
    text-align: center;
    position: relative;
}

.top-center ul li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 5vh;
    color: #000;
    text-decoration: none;
}

.top-center ul li a.active,
.top-center ul li a:hover:not(.active) {
    background-color: #555;
    color: #f1f1f1;
}

.dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.dropdown-content a {
    width: 100%;
    height: 5vh;
    text-align: left;
    display: block;
    color: black;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #555;
    color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.top-right {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.icon1 {
    height: 100%;

}

.icon1 img {
    height: 90%;
    margin-left: 5px;
}


/* 详细内容 */
.nr {
    width: 85%;
    background-color: #ffffff;
    padding: 3%;
    margin: 9vh auto 20px auto;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nr h3 {
    margin: 20px 0px;
}

.biaoti {
    width: 100%;
    font-size: 4vh;
    margin: 10px auto;
    font-weight: bold;
}

.shuju {
    width: 100%;
    color: #999;
    font-size: 2vh;
    padding-bottom: 5px;
    border-bottom: 1px solid #d6d6d6;
}

.xiangqing {
    width: 100%;
    font-size: 3vh;
}

.xiangqingtupian {
    display: block;
    margin: 10px auto;
}

.shuju1 {
    width: 100%;
    color: #999;
    font-size: 2vh;
    padding-top: 30px;
}

.pinglunshu {
    font-size: 3vh;
}

.pinglunshu span {
    color: #999;
    font-size: 2vh;
    margin: auto 5px;
}

.pinglun {
    width: 100%;
}

.pinglun img {
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    margin: 10px;
    float: left;
}

.pinglun div {
    width: 100%;
}

.pinglun div input {
    width: 90%;
    height: 6vh;
    margin: 10px auto;
    border: 1px solid #d6d6d6;
    padding: 0px 5px;
    border-radius: 10px;
}

.pingluns {
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 10px;
}

.pingluns img {
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    margin: 10px;
    float: left;
}

.chengni {
    font-size: 2vh;
    height: 2vh;
    padding: 0px 5px;
    float: left;
}

.pinglunsnr {
    font-size: 2.3vh;
    width: 90%;
    min-height: 3vh;
    margin: 10px auto;
    padding: 0px 5px;
    float: left;
    word-wrap: break-word;
}


/* 页脚部分 */
.bottom {
    padding: 20px;
    background-color: #333;
    color: #ffffff94;
    text-align: center;
    font-size: 2vh;
}

.social-links {
    width: 100%;
    height: 3vh;
    margin-top: 15px;
}

.social-links a {
    display: inline-flex;
    align-items: center;
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}

.social-links a img {
    height: 1.5em;
    width: auto;
    margin-right: 5px;
    vertical-align: middle;
}